.sidebarOptions {
  display: flex;
  align-items: center;
  color: grey;
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;
}

.sidebarOptions:hover {
  color: white;
}
.sidebar__icons {
  padding-left: 10px;
  padding-right: 10px;
}

.sidebarOptions > p {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 14px;
}
